html, body {
    max-width: 100%;
	overflow-x: hidden;
	background-color: #FFEBCD;
	color: #FFEBCD;
	scroll-behavior: smooth;
}

.nav {
    position: fixed;
    top:15px;
    width:100%;
    z-index: 99;
}

.circle {
    position: relative;
    cursor: pointer;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
    background-color: #AFDBCD;
	color: #FFEBCD;
    border:2px solid #FFEBCD;
	border-radius: 50%;
	-moz-border-radius:50%;
    -webkit-border-radius:50%;
	margin-right:10px;
	margin-top: 10px;
	float: left;
	background-image: radial-gradient(circle at center ,  #FFEBCD 50%, transparent 50%);
	background-repeat: no-repeat;
	transition: background-size .5s, color .5s;
	background-size: 0 0;
	background-position: 50% 50%;
	text-decoration: none;
}

.circle:visited {
	color: #FFEBCD;
}

.circle:hover{
    background-size: 200% 200%;
    color: #AFDBCD;
	text-decoration: none;
}

.circle:nth-child(1) {
    width: 170px;
    height: 170px;
    line-height: 170px;
	margin-left: 10px;
	font-size: 22px;
}

.circle:nth-child(2),
.circle:nth-child(4) {
    width: 75px;
    height: 75px;
    line-height: 75px;
	font-size: 15px;
}

.circle:nth-child(3) {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    line-height: 120px;
	font-size: 20px;
}

.holder{
	display:block;
	content: " ";
	visibility: hidden;
	pointer-events: none;
	margin-left: -1;
	margin-top:-1;
	top: -1px;
	left: -1000px;
	position: absolute;
}

.container {
	width: 1000px;
	height: 1000px;
	margin-top: 100px;
	border-radius: 50%;
	position: relative;
	padding: 5%;
	font-family: 'Lato';
}

h1 {
	font-family: 'Raleway';font-size: 55px;
}

h2 {
	font-family: 'Raleway';font-size: 40px;
	padding-top: 40px;
	text-align: center;
}

h3 {
	font-family: 'Lato';
	text-align: center;
	font-size: 30px;
}

.container:nth-child(1) {
	margin-top:150px;
	text-align: center;
	border: 1px solid #B5AA99;
	background-color: #B5AA99;
	left: 420px;
}

.container:nth-child(2) {
	text-align: center;
	left: -80px;
	border: 2px solid #D5BEC2;
	background-color: #D5BEC2;
}

.container:nth-child(3) {
	text-align: center;
	border: 1px solid #B5AA99;
	background-color: #B5AA99;
	left: 420px;
}

.box {
	position: relative;
	display:inline-block;
	width: 70%;
	margin-top: 50px;
	text-align: left;
	font-size: 25px;
}

.profile {
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	left: 0px;
	float: left;
	margin-right: 50px;
}

.AboutMe-list li {
	font-size: 25px;
	margin: 25px;
	display: flex;
	justify-content: space-between;
}

.fact-list li {
	font-size: 20px;
	margin: 10px;
}

.mains {
	text-align: center;
	font-family: 'Raleway';
	font-size: 35px;
}

.main-container {
	margin-left: 25px;
	margin-top: -20px;
}

.main-pic {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	max-width: 150px;
	max-height: 150px;
	margin: 35px;
	position: relative;
	float: left;
	text-align: center;
}

.main-pic .img-top{
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 50%;
	display: none;
	object-fit: cover;
	filter: brightness(85%);
}

.overlay {
	position: relative;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #FFEBCD;
	color: #D5BEC2;
	border-radius: 50%;
}

.main-pic .main-back {
	position: absolute;
	font-size: 30px;
	top: 50%;
	left: 50%;
	font-family: 'Raleway';
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.main-pic:hover .img-top {
	display: inline;
}

.main-pic:hover .overlay {
	display: none;
}

.main-pic:hover .main-back {
	display: none;
}

.rnb {
	color: #3F959B;
}

.hiphop {
	color: #987A9A;
}

.I-just-cant-get-hype-boy-out-of-my-head {
	font-size: 10px;
}

.rnb-hiphop {
	background: linear-gradient(90deg, #3F959B, #987A9A 70%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.video {
	margin-top: 35px;
	z-index: 1;
	overflow: hidden;
	text-align: center;
}

.youtube-premium {
	font-size: 20px;
	text-align: center;
	margin-top: 35px;
}

.links {
	margin-top: 100px;
	margin-bottom: 100px;
	justify-content: space-around;
	display: flex;
}

.link {
	position: relative;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-color: #D5BEC2;
	transition: all 0.3 ease;
	text-align: center;
}

.fab {
	display: inline-block;
	position: relative;
	padding: 40px;
	font-size: 60px;
	color: #FFEBCD;
	text-decoration: none;
}

.link:hover{
	color: #D5BEC2;
	background-color: #FFEBCD;
	text-decoration: none;
}

.fab:visited {
	text-decoration: none;
	color: #FFEBCD;
}

.fab:hover {
	color: #D5BEC2;
	background-color: #FFEBCD;
	text-decoration: none;
}

.fab:visited, .fa:active {
	color: #FFEBCD;
	text-decoration: none;
}

.tag-back {
	position: absolute;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #FFEBCD;
	color: #D5BEC2;
	border-radius: 50%;
}

.tag {
	position: absolute;
	display: inline-block;
	font-size: 30px;
	top: 50%;
	left: 50%;
	font-family: 'Raleway';
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.links a:hover > .fa-discord {
	display: none;
}

.link:hover .tag-back{
	display: inline;
}
